---
import Layout from "../layouts/Layout.astro";
import About from "../components/about.astro";
import Experience from "../components/experience.astro";
import Projects from "../components/projects.astro";
import HeaderLeftSide from "../components/header-left-side.astro";
import CommingSoon from "../components/cooming-soon.astro";
import "@fontsource/inter";
import "@fontsource/inter/400.css";
---

<Layout title="Welcome to CZ">
  <div
    class="flex flex-col justify-center mx-auto min-h-screen max-w-screen-xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0"
  >
    <div class="lg:flex lg:justify-between lg:gap-4">
      <HeaderLeftSide />
      <main class="pt-24 lg:w-1/2 lg:py-24">
        <About />
        <!-- <Experience />
        <Projects /> -->
      </main>
    </div>
  </div>
</Layout>
